<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页测试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/lib/flexible.js"></script>
</head>
<body>
    <div id="app" class="page-index active">
        <div class="index-music" v-if="activeMusic">
            <div class="tab-list">
                <div class="tab-item" @click="selectFun(1)" :class="isActive?'active':''">
                    <span>选择音乐</span>
                </div>
                <div class="tab-item" @click="selectFun(0)" :class="isActive?'':'active'">
                    <span>搜索音乐</span>
                </div>
            </div>
           <div class="music-select" v-show="isActive">
               <div class="music-no music-item" :class="'no'==d_index?'selected':''" @click="selectType('no')">
                   <p class="item-title">无背景音乐</p>
               </div>
               <li class="music-list music-item"  v-for="(item,j) in musicTypeList" :key="j" >
                   <div class="top-content" :class="d_index==j&&!typeSelected?'hasSelected':''" :class="d_index==j&&typeSelected?'':'unselect'" @click="selectType(j)">
                       <div>
                           <p class="item-title">{{item.typeName}}</p>
                           <p class="item-text">包含{{item.musicNum}}首歌曲</p>
                       </div>
                   </div>
                   <div v-if="d_index==j">
                       <div v-show="typeSelected">
                           <ul class="b-content-list">
                               <li class="b-content-item" v-for="(item,m) in musicList"  :key="m" @click="selectMusic(m,item.musicId)" :class="m_index == m?'selected':''">{{item.musicName}}</li>
                           </ul>
                       </div>
                   </div>

               </li>
               <div class="empty">

               </div>
               <div class="music-footer" @click="submitSelect(1)">
                   <p class="s-footer-text">完成</p>
               </div>
           </div>
            <div class="music-search" v-show="!isActive">
                <div class="search-content">
                    <i class="icon-search"></i>
                    <input type="text" placeholder="搜索在线音乐">
                </div>

                <div class="music-footer" @click="submitSelect(0)">
                    <p class="s-footer-text">完成</p>
                </div>
            </div>
        </div>
        <div class="index-home" v-if="activePage">
            <div class="home-header">
                <div>
                    <h2 class="header-title">开始创作</h2>
                    <p class="header-text">可以添加100张美图哦</p>
                </div>
            </div>
            <div class="home-body">
                <div class="addPhoto">
                    <input type="file" @change="changeImg($event)" accept="image/*" multiple="multiple" class="addPhoto-btn" id="addPhotoBtn">
                    <p class="btn-add">+</p>
                    <p class="text-add">添加照片</p>
                </div>
            </div>

            <div class="home-footer">
                <div class="footer-item">发现</div>
                <div class="footer-item">
                    <p class="btn-add">+</p>
                    <p>开始制作</p>
                </div>
                <div class="footer-item">我的</div>
            </div>
        </div>
        <!--<div class="index-second" @click="hideAddFlag" v-show="activeSecond">-->
            <!--<div class="second-header">-->
                <!--<img class="bg_header" src="./imgs/bg_header1.jpg" alt="">-->
                <!--<div class="header-content">-->
                    <!--<textarea placeholder="点击设置标题"  class="content-title" ref="contentTitle" @click.stop="addContent('contentTitle',$event)"></textarea>-->
                    <!--<div class="content-bottom">-->
                        <!--<div class="bottom-item item-addMusic"><span @click.stop="addMusicFun">添加音乐</span></div>-->
                        <!--<div class="bottom-item item-setBg"><span>更换封面</span></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="second-body">-->
                <!--<div class="body-item" v-for="(item,i) in imgArr" :key="i">-->
                    <!--<div class="first-item" v-if="i == 0">-->
                        <!--<div class="addItem topItem" @click.stop="addTopFlag=false" v-show="addTopFlag">+</div>-->
                        <!--<div class="add-content" v-show="!addTopFlag">-->
                            <!--<span class="icon-text"></span>-->
                            <!--<span class="icon-img"></span>-->
                            <!--<span class="icon-video"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item-content">-->
                        <!--<i class="close" @click="removeCurrentFun(i,item.type)"></i>-->
                        <!--<div class="item-left">-->
                            <!--<img class="left-item" :src="item.imgUrl" alt="">-->
                        <!--</div>-->
                        <!--<div class="item-right">-->
                            <!--<textarea placeholder="点击添加文字" class="right-item" @click="addContent(item.t_ref,$event)" :ref="item.t_ref">-->

                            <!--</textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="addItem" :ref="item.c_ref" @click.stop="hideAddBottom(item.ref,item.c_ref,$event)" v-if="addBottomFlag+'i'">+</div>-->
                    <!--<div class="add-content" :ref="item.ref">-->
                        <!--<span class="icon-text" @click.stop="addTextFun"></span>-->
                        <!--<span class="icon-img" @click.stop="addImgFun"></span>-->
                        <!--<span class="icon-video" @click.stop="addVideoFun"></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="second-footer">-->
                <!--<p class="s-footer-text">完成</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="index-edit" v-if="activeEdit">-->
            <!--<textarea class="edit-content"  @focus="focusFun" @blur.passive="blurFun" v-model="editValue"  ref="editObj" @input="editFun">-->

            <!--</textarea>-->
            <!--<div class="edit-num">{{textNum}}/{{maxNum}}</div>-->
            <!--<div class="edit-btn" v-if="showSubmit">-->
                <!--<span class="btn-submit" @click.stop="submitEdit">完成</span>-->
            <!--</div>-->
        <!--</div>-->

        <div class="index-review" :class="d_img==b?'selected':''" v-if="activeReview">
            <div class="review-header">
                <i class="head-item icon-home"></i>
                <span class="head-item head-back-home">回到首页</span>
                <span class="head-item head-edit" @click="alertTip">编辑</span>
            </div>
            <div class="review-content">
                <h3 class="review-title">设置标题</h3>
                <div class="review-userInfo">
                    <span class="info-date">2018-05-15</span><span class="info-name">leijee1231</span><span class="info-text">阅读 0</span>
                </div>

                <div class="review-list">
                    <div class="review-item">
                        <p class="item-text">哇哈哈哈娃哈哈哈哈</p>
                        <img class="item-img" src="./imgs/icon_text.png">
                    </div>
                    <div class="review-item">
                        <p class="item-text">哇哈哈哈娃哈哈哈哈</p>
                        <img class="item-img" src="./imgs/icon_text.png">
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>
<!--<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="./js/lib/vue-router.js"></script>
<script src="./js/index_beifen.js"></script>
</html>